<%namespace name="base" file="../base.html"/>
${base.header()}

<header>
    <div class="small container">
        <div class="row">
            <div class="col-lg-12">
                <span class="header-text">Bongard Cards</span>
            </div>
        </div>
    </div>
</header>


<section class="leaf-page" id="projectmisc">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <h3></h3>
                <p>Bongard problems are a type of puzzle invented by Mikhail Moiseevich Bongard,
                a Russian computer scientist who lived from 1924-1971.  A Bongard puzzle presents
                two sets of six diagrams each, and the solver's goal is to determine what factor
                distinguishes the two sets.  You can see a great many of these puzzles, including
                Bongard's original 100, <a href="http://www.foundalis.com/res/bps/bpidx.htm">here</a>.</p>
                <p>Some time ago I decided to make papercraft Bongard problems as presents for friends
                and family.  Here are some photographs of each card, which should be high resolution
                enough for you to solve from:</p>

                <div class="row bc-row">
                    <div class="col-lg-6">
                        <a href="${fullpath}/inc/img/misc/cards/card-1-full.jpg" target="_blank"><img src="${fullpath}/inc/img/misc/cards/card-1-thumb.jpg"></a>
                        <h4>#1 - For Avi</h4>
                    </div>
                    <div class="col-lg-6">
                      <a href="${fullpath}/inc/img/misc/cards/card-2-full.jpg" target="_blank"><img src="${fullpath}/inc/img/misc/cards/card-2-thumb.jpg"></a>
                        <h4>#2 - For Zandra</h4>
                    </div>
                </div>

                <div class="row bc-row">
                    <div class="col-lg-6">
                      <a href="${fullpath}/inc/img/misc/cards/card-3-full.jpg" target="_blank"><img src="${fullpath}/inc/img/misc/cards/card-3-thumb.jpg"></a>
                        <h4>#3 - For Britt </h4>
                    </div>

                    <div class="col-lg-6">
                      <a href="${fullpath}/inc/img/misc/cards/card-4-full.jpg" target="_blank"><img src="${fullpath}/inc/img/misc/cards/card-4-thumb.jpg"></a>
                        <h4>#4 - For Mom</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


${base.footer()}
