<%namespace name="base" file="../base.html"/>
${base.header()}

<header>
    <div class="small container">
        <div class="row">
            <div class="col-lg-12">
                <span class="header-text">Eureka! Roleplaying the History of Science</span>
            </div>
        </div>
    </div>
</header>


<section class="leaf-page" id="projectmisc">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <p>Eureka! is an immersive learning exercise, combining elements of
                    role-playing and puzzle-hunting.  It gives participants the opportunity
                    to make scientific discoveries for themselves, and places those
                    discoveries in their social and historical contexts.</p>
                <p>Currently there are two Eureka! modules.  From a blog post about the first
                    module:</p>

                    <p class="blockquote">I picked as the theme of my first lesson "Learning in the Time of Cholera". The kids were welcomed to the activity as American ambassadors to France and thanked for coming at such urgent notice. There was a plague in our fair city, I explained, and we had to figure out how to stop it. I and another teacher guided the kids through several investigative steps. First, they read case histories of sick individuals and tried to determine what was causing their illness. When they realize the culprit was dirty water, they looked at maps of symptoms in the city to determine which pumps were compromised. Finally, they built water filters using materials such as gravel, cotton balls, wire mesh, and picked the most successful prototype to send to the king.</p>
                    <p class="blockquote">It was incredibly gratifying to watch the kids grapple with and then master the concepts involved. That said, at ages 6-8 they were only just barely able to understand everything, and I hesitated to include more of the historical context. At one point, my plans called for sending an aide out to do an experiment, to verify the water-as-disease-vector hypothesis. The aide was to be captured by republican rebels, with the students asked to produce a declaration of independence in order to win his freedom. Later on, an outraged king was to demand a patriot song or flag in tribute. I shelved both ideas this time, not wanting to distract the kids from their progress through the science-oriented part of the lesson, but I'd love to try and integrate the science and political history aspects with older, more advanced students.</p>
                    <p class="blockquote">Another great thing about this activity is how adaptable it is. For instance, the epidemiological maps can be altered to create varying levels of difficulty. Older kids can be challenged to count symptom occurences around wells and compare the totals statistically, whereas younger kids can be encouraged to eyeball it. The narratives can include various symptoms and force students to map symptom to cause, introduce ideas of natural immunity, or include red herrings - or they can provide a relatively simple route to the actual answer. I'd be comfortable running a modified version of this activity for high schoolers, even, although I think middle-school is the sweet spot for this kind of "let's pretend".</p>
                    <p class="blockquote">The kids adored making "dirty" water in the kitchen and drinking it once it was filtered. They were excited to bring their filters along with them on their canoe trip the next day. And they were fascinated by the real life epidemiological maps John Snow made back in the 18th century when he proved cholera epidemics were being spread by dirty water. We talked a little bit afterwards about how Snow's ideas were resisted by the authorities and the general public. I considered having them make posters to encourage the Parisians to use the water filters, but they were distracted by cake. (Not even the best lessons can win out over cake.)</p>


                <p>A second module involves inventing the telegraph during the American Civil War.  Along the way
                students must draft the Nebraska state constitution.</p>

                <p>The materials for Eureka! are mostly not online. Please contact me if you're
                    interested in using them, as that's all the incentive I need to digitize
                    them.</p>
            </div>
        </div>
    </div>
</section>


${base.footer()}
