<%namespace name="base" file="../base.html"/>
${base.header()}

<header>
    <div class="small container">
        <div class="row">
            <div class="col-lg-12">
                <span class="header-text">The Interface</span>
            </div>
        </div>
    </div>
</header>


<section class="leaf-page" id="projectmisc">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <h3></h3>
                <p>The Interface is a short play I wrote and produced for PyCon in 2019. It is about the way our biases
                    and assumptions when interacting with each other get encoded into APIs (application programming 
                    interfaces).
                </p>
            </div>
        </div>
    </div>
</section>


${base.footer()}
