<%namespace name="base" file="../base.html"/>
${base.header()}

<header>
    <div class="small container">
        <div class="row">
            <div class="col-lg-12">
                <span class="header-text">Kybern</span>
            </div>
        </div>
    </div>
</header>


<section class="leaf-page" id="projectmisc">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <p>Kybern is/was a project exploring how we can use technology to enable customizable, collective self-governance 
                online.</p>

                <img src="https://www.glizzan.com/assets/kybern/from_docs/4_change_owners.gif" width="650px" class="p-5">

                <p>I paused work on this project after discovering Amy Zhang's <a href="https://policykit.org/">PolicyKit</a>, a 
                    better architected and more flexible version of the same concept. I highly recommend checking it out. 
                    I hope to return to Kybern, at least in spirit, and continue exploring how technology can enable governance.</p>

                <p>The site itself is currently down thanks to Heroku removing their free tier, but you can see the source 
                   <a href="https://github.com/glizzan/kybern">on Github</a>. You can also see a demo via 
                   <a href="https://www.glizzan.com/2020/09/08/a-sneak-peak-at-kybern.html">this blog post</a> or watch any of these three 
                   presentations I gave which mention/feature Kybern:
                </p>
                <ul>
                    <li><a href="https://www.glizzan.com/2020/09/30/metagovernance-presentation.html">A Python Library for Digital Self-Governance</a> for the Metagov Seminar</li>
                    <li>Code as Contestable Law, <a href="https://2021knowledge.iasc-commons.org/">IASC Knowledge Commons</a> (<a href="https://www.youtube.com/watch?v=1ivhUOS-p6A">video</a>, <a href="https://www.youtube.com/watch?v=QraHP8mEOcU">panel</a>)</li>
                    <li>Engineering Responsive Governance, <a href="https://2021knowledge.iasc-commons.org/">IASC Knowledge Commons</a> (<a href="https://www.youtube.com/watch?v=9AQsbynFBF8">video</a>, <a href="https://www.youtube.com/watch?v=cjkK8FA2BNY">panel</a>)</li>
                </ul>

            </div>
        </div>
    </div>
</section>


${base.footer()}
