<%namespace name="base" file="../base.html"/>
${base.header()}

<header>
    <div class="small container">
        <div class="row">
            <div class="col-lg-12">
                <span class="header-text">Open Source Recommendation Letter</span>
            </div>
        </div>
    </div>
</header>


<section class="leaf-page" id="projectmisc">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <h3>Background</h3>
                <p>The idea for this project came about when I was reading about
                    Berkman Center fellowship applications and trying to think of
                    who my references would be. I found myself wishing that I could
                    ask all of the communities that I participate in to collectively
                    provide a letter. My work over the last few years has focused on
                    teaching, community building, awareness-raising and outreach -
                    all goals that bring me into contact with many people and allow us
                    to interact in ways both shallow and deep. I want to give the
                    community a chance to vouch for me, rather than asking a single
                    person. And so this project was born.</p>
                <p>I have switched servers since this project, and have yet to move over
                    the original wiki that was used to create the letter.  In the mean
                    time, please enjoy the finished letter:</p>

                <embed src="${fullpath}inc/docs/projects/osrletter.pdf" width="800" height="500" type='application/pdf'>

            </div>
        </div>
    </div>
</section>


${base.footer()}
