<%namespace name="base" file="../base.html"/>
${base.header()}

<header>
    <div class="small container">
        <div class="row">
            <div class="col-lg-12">
                <span class="header-text">Open Science Collaboration Blog</span>
            </div>
        </div>
    </div>
</header>


<section class="leaf-page" id="projectmisc">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <h3></h3>
                <p>The Open Science Collaboration is a loose network of researchers,
                    professionals, citizen scientists, and others with an interest
                    in open science, metascience, and good scientific practices.
                    From Fall 2013 to Spring 2015 I edited and maintained <a href="http://osc.centerforopenscience.org/">
                    the community's blog</a>, while contributing occasional articles.</p>
                <p>Although the blog is now on hiatus, I have continued to be active
                    within the community, most significantly through participation in the
                    <a href="https://osf.io/gvm2z/">Many Analysts, One Dataset</a> project.</p>

            </div>
        </div>
    </div>
</section>

${base.footer()}
