<%namespace name="base" file="../base.html"/>
${base.header()}

<header>
    <div class="small container">
        <div class="row">
            <div class="col-lg-12">
                <span class="header-text">Open Government Boston</span>
            </div>
        </div>
    </div>
</header>


<section class="leaf-page" id="projectmisc">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <h3></h3>
                <p>In the summer of 2011 I began organizing open government meetups
                    approximately once a month in the Boston area.  Starting in 2013,
                    <a href="http://www.meetup.com/Code-for-Boston/" target="_blank">
                        Code for Boston</a> has taken over much of the local
                        organizing.</p>
                <p>I continue to occasionally organize one-time events, such as the
                    <a href="http://hackforchange.org/boston-civic-expo" target="_blank">Boston Civic Expo (May 2013)</a>,
                    <a href="http://www.meetup.com/Open-Government-Boston/events/104466882/" target="_blank">Open Data Day (Feb 2013)</a>,
                    <a href="http://followthemoney2012.wikia.com/wiki/Follow_the_Money_2012_Wiki" target="_blank">Follow the Money (Sep 2012)</a>,
                    and a <a href="http://www.eventbrite.com/e/civic-tech-mixer-tickets-11064228405" target="_blank">Civic Tech Mixer</a> (March 2014).
                    I also helped Mako Hill organize <a href="http://networkcollectiv.es/2014/03/09/community-data-science-workshops/" target="_blank">some
                        community data science workshops in 2014</a>.

                <p>I have some <a href="http://www.shaunagm.net/blog/2013/10/hacking-the-hackathon/" target="_blank">reservations</a> about civic technology and community organizing, which I want to address before doing more work in this area.

            </div>
        </div>
    </div>
</section>


${base.footer()}
