<%namespace name="base" file="../base.html"/>
${base.header()}

<header>
    <div class="small container">
        <div class="row">
            <div class="col-lg-12">
                <span class="header-text">Smalltalk App</span>
            </div>
        </div>
    </div>
</header>


<section class="leaf-page" id="projectmisc">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
              <p>Smalltalk is an Android app that helps you keep track of things you
                want to talk about with friends, family, colleagues, and even strangers.
                It was my first Java project and my first mobile app, and I learned quite
                a bit from making it.  It's no longer available in the Google Play store,
                but you can access the code in its <a href="https://github.com/shaunagm/smalltalk-mobile">Github repository</a>.
            </div>
        </div>
    </div>
</section>

${base.footer()}
