<%namespace name="base" file="../base.html"/>
${base.header()}

<header>
    <div class="small container">
        <div class="row">
            <div class="col-lg-12">
                <span class="header-text">When Women Refuse</span>
            </div>
        </div>
    </div>
</header>


<section class="leaf-page" id="projectmisc">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <h3></h3>
                <p>When Women Refuse is a tumblr documenting violence against women.
                    From the about page:

                <p class="blockquote">After the horrific tragedy of the shootings at UCSB on May 23, the Internet responded with the hashtag #YesAllWomen, to start a conversation around the fact that while not all men commit acts of violence, all women are afraid, and rightfully so, of gender-based violence. Many people participating in these conversations seemed to point to the UCSB shootings as an isolated incident, the work of a mad man who had nothing to do with reality. But the reality for many is that women denying sexual advances to both men they know and don't know is often fraught with violent results.
                </p>

                <p>Along with four other women, I maintained the project for one year after the shooting.</p>

            </div>
        </div>
    </div>
</section>


${base.footer()}
