<%namespace name="base" file="../base.html"/>
${base.header()}

<header>
    <div class="small container">
        <div class="row">
            <div class="col-lg-12">
                <span class="header-text">Cake!</span>
            </div>
        </div>
    </div>
</header>

<section class="leaf-page" id="projectmisc">
    <div class="container">

        <div class="row">           
            <div class="col-lg-4">
                <a href="${fullpath}inc/img/misc/cakes/piratecake.jpg">
                    <img width="300px" src="${fullpath}inc/img/misc/cakes/piratecake.jpg"
                                    alt="A cake shaped like a pirate ship">
                </a>
                <h4>Pirate Ship Cake</h4>
                <h5>For Orli, Hannah, Nick and Letty, Fall 2006</h5>
            </div>
            <div class="col-lg-4">
                <a href="${fullpath}inc/img/misc/cakes/blackholecake.jpg">
              <img width="300px" src="${fullpath}inc/img/misc/cakes/blackholecake.jpg"
                   alt="Cake shaped like black hole">
                </a>
                <h4>Black Hole Cake</h4>
                <h5>For Lisa, Summer 2013</h5>
            </div>
            <div class="col-lg-4">
                <a href="${fullpath}inc/img/misc/cakes/gardencake.jpg">
              <img width="300px" src="${fullpath}inc/img/misc/cakes/gardencake.jpg"
                   alt="Cake shaped like a raised garden bed">
                </a>
                <h4>Raised Garden Cake</h4>
                <h5>For Molly's Garden Party, Summer 2014</h5>
            </div>

        </div>

        <div class="row" style="padding-bottom:10px;">
            <div class="col-lg-4">
                <a href="${fullpath}inc/img/misc/cakes/drumcake.jpg">
                    <img width="300px" src="${fullpath}inc/img/misc/cakes/drumcake.jpg"
                                    alt="A cake shaped like a drum"></a>
                <h4>Drum Cake</h4>
                <h5>For Zev, Spring 2011</h5>
            </div>
            <div class="col-lg-4">
                <a href="${fullpath}inc/img/misc/cakes/buscake.jpg">
              <img width="300px" src="${fullpath}inc/img/misc/cakes/buscake.jpg"
                   alt="Cake shaped like a bus">
                </a>
                <h4>Bus Cake</h4>
                <h5>For Zev, Spring 2012</h5>
            </div>
            <div class="col-lg-4">
                <a href="${fullpath}inc/img/misc/cakes/guillotinecake.jpg">
                <img width="300px" src="${fullpath}inc/img/misc/cakes/guillotinecake.jpg"
                     alt="Cake shaped like black hole"></a>
                <h4>Guillotine Cake</h4>
                <h5>Independence Day, 2007</h5>
            </div>
        </div>

        <div class="row" style="padding-bottom:10px;">
            <div class="col-lg-4">
                <a href="${fullpath}inc/img/misc/cakes/hatcake.jpg">
                    <img width="300px" src="${fullpath}inc/img/misc/cakes/hatcake.jpg"
                                    alt="Small cake shaped like a hat"></a>
                <h4>The "If McCain actually votes against this healthcare bill I'll eat my hat" Cake</h4>
                <h5>July 2017</h5>
            </div>
            <div class="col-lg-4">
                <a href="${fullpath}inc/img/misc/cakes/electriccupcakes.jpg">
                    <img width="300px" src="${fullpath}inc/img/misc/cakes/electriccupcakes.jpg"
                                    alt="Cupcakes with LED candles"></a>
                <h4>Electric Birthday Candle Cupcakes</h4>
                <h5>Winter 2011</h5>
            </div>
            <div class="col-lg-4">
                <a href="${fullpath}inc/img/misc/cakes/slugcake.jpg">
                <img width="300px" src="${fullpath}inc/img/misc/cakes/slugcake.jpg"
                     alt="A cake shaped like a sea slug"></a>
                <h4>Sea Slug Cake</h4>
                <h5>For Mitchell, 2012</h5>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-4">
                <a href="${fullpath}inc/img/misc/cakes/alienworldscake.jpg">
                <img width="300px" src="${fullpath}inc/img/misc/cakes/alienworldscake.jpg"
                     alt="Two cakes shaped kind of line alien worlds"></a>
                <h4>Alien Worlds Cakes</h4>
                <h5>With the kids at Parts & Crafts, Summer 2012</h5>
            </div>
            <div class="col-lg-4">
                <a href="${fullpath}inc/img/misc/cakes/nwslcupcakes.jpg">
                <img width="300px" src="${fullpath}inc/img/misc/cakes/nwslcupcakes.jpg"
                    alt="Nine cupcakes representing each of the NWSL teams"></a>
                <h4>NWSL Cupcakes</h4>
                <h5>Winter 2019</h5>
            </div>
        </div>

    </div>
</section>

${base.footer()}
