<%namespace name="base" file="base.html"/>
${base.header()}

<header>
    <div class="small container">
        <div class="row">
            <div class="col-lg-12">
                <span class="header-text">About Me</span>
            </div>
        </div>
    </div>
</header>

<section class="leaf-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <br /><br />
                    <p>I'm a programmer and a writer, a researcher and a community manager, and a lot of other
                    things besides.  I tend to work at the intersection of people and technology and I have a soft
                    spot in my heart for anything open: open science, open government, open source software.</p>
                   
                    <p>I currently run a technology consulting business, <a href="http://www.galaxyriseconsulting.com">Galaxy Rise Consulting</a>.
                    I work primarily with individuals and small organizations to address their technical needs,
                    whether that means building websites and plugins, analyzing datasets, or documenting messy code.</p>
            
                    <p>In the past, I've <a href="http://wjh.harvard.edu/~mcl/">conducted social psychology
                    research</a>, tracked misinformation on social media, ran <a href="http://www.giftedstudy.org/">debates and mock trials</a> and
                    <a href="https://partsandcrafts.org/">puzzle hunts and sheep brain dissections</a> for kids,
                    compiled meta-analyses of medical research for patients, interned for various politicians, and even <a href="http://www.emory.edu/LIVING_LINKS/">wrangled
                    monkeys</a>.</p>
            
                    <p>I'm always interested in potential collaborations, so if you have an idea or
                        an opportunity, please  <a href="https://docs.google.com/forms/d/1KBE6hOiBADkqgFz5poBBWZhMvz4X1XmJG5-y84a_h0c/viewform">get in touch</a>.</p>
                </div>
            </div>
         </div>
    </section>






${base.footer()}
