<%def name="header()">

<!DOCTYPE html>
<html lang="en">


<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

     <title>Shauna Gordon-McKeon</title>


        <link href="${fullpath}inc/css/bootstrap.min.css" rel="stylesheet">
        <link href="${fullpath}inc/css/freelancer.css" rel="stylesheet">
        <link href="${fullpath}inc/css/sgm-custom.css" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

        <script src="${fullpath}inc/js/jquery.js"></script>
        <script src="${fullpath}inc/js/bootstrap.min.js"></script>
        <script src="${fullpath}inc/js/classie.js"></script>
        <script src="${fullpath}inc/js/cbpAnimatedHeader.js"></script>
        <script src="${fullpath}inc/js/freelancer.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>


<body id="page-top" class="index">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">

            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- <a class="navbar-brand page-scroll" href="#page-top"></a> -->
            </div>

            <div class="collapse navbar-collapse" id="navigationbar">
                <ul class="nav navbar-nav navbar-left">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="${fullpath}index.html#about">About</a>
                    </li>
                    <li class="page-scroll">
                        <a href="http://notes.shaunagm.net/">Blog</a>
                    </li>
                    <li class="page-scroll">
                        <a href="http://www.galaxyriseconsulting.com" target="_blank">Galaxy Rise Consulting</a>
                    </li>

                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="${fullpath}projects.html">Projects</a>
                    </li>
                    <li class="page-scroll">
                        <a href="${fullpath}publications.html">Publications</a>
                    </li>
                    <li class="page-scroll">
                        <a href="${fullpath}talks.html">Talks</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</%def>

<%def name="footer()">
    <footer class="text-center">
          <div class="footer-above">
              <div class="container">
                  <div class="row">
                      <div class="footer-col col-md-6">
                          <h3>Elsewhere</h3>
                          <ul class="list-inline">
                              <li>
                                  <a href="https://twitter.com/shauna_gm" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                              </li>
                              <li>
                                  <a href="https://github.com/shaunagm/" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
                              </li>
                              <li>
                                  <a href="http://shaunagm.tumblr.com/" class="btn-social btn-outline"><i class="fa fa-fw fa-tumblr"></i></a>
                              </li>
                          </ul>
                      </div>
                      <div class="footer-col col-md-6">
                          <h3>Credits</h3>
                          <p>This theme is a modified version of Freelance, an open source Bootstrap theme created by <a href="http://startbootstrap.com">Start Bootstrap</a>. The color palette is by <a href="http://www.colourlovers.com/palette/919313/Papua_New_Guinea">smitt</a>. The header logo was modified from an image made by <a href="https://www.flickr.com/photos/9216660@N02/12780929034/in/photostream/">mastermindsro</a>.</p>
                      </div>
                  </div>
              </div>
          </div>
      </footer>

    </body>
    </html>
</%def>
