<%namespace name="base" file="base.html"/>
${base.header()}

<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive tree" src="${fullpath}inc/img/sgm-tree-wide.jpg" alt="">
                <span class="header-text">Shauna Gordon-McKeon</span>
            </div>
        </div>
    </div>
</header>

<!-- About Section -->
<section id="about">
 <div class="container">
  <div class="row">
   <div class="col-lg-12 text-center">
    <h2>About</h2>
   </div>
  </div>
  <div class="row">
   <div class="col-lg-10 col-lg-offset-1">

       <p>I'm a programmer and a writer, a researcher and a community manager, and a lot of other
         things besides. I care deeply about openness: open science, open government, open source
         software.</p>

      <p>I run a technology consulting business, <a href="http://www.galaxyriseconsulting.com">Galaxy Rise Consulting</a>,
        where I work primarily with individuals and small organizations to address their technical needs,
        whether that means building websites and plugins, analyzing datasets, or documenting messy code.</p>

       <p>In the past, I <a href="http://wjh.harvard.edu/~mcl/">conducted social psychology
        research</a>, managed <a href="http://openhatch.org/">an open source
        outreach non-profit</a>, ran <a href="http://www.giftedstudy.org/">debates and mock trials</a> and
        <a href="https://partsandcrafts.org/">puzzle hunts and sheep brain dissections</a> for kids,
        compiled meta-analyses of medical research for patients, and even <a href="http://www.emory.edu/LIVING_LINKS/">wrangled
        monkeys</a>.</p>

       <p>I'm always interested in potential collaborations, so if you have an idea or
           an opportunity, please  <a href="https://docs.google.com/forms/d/1KBE6hOiBADkqgFz5poBBWZhMvz4X1XmJG5-y84a_h0c/viewform">get in touch</a>.</p>
   </div>
  </div>
 </div>
</section>

<!-- Features -->
<section class="color-options-one" id="features">
 <div class="container">
    <div class="row">
        <div class="col-lg-12 ">
            <h2 class="text-center">Featured</h2>
        </div>
    </div>
  <div class="row">

      <div class="col-lg-4">
          <h3 class="text-center">Publication</h3>
          <div class="circle">
              <h4>Chasing Paper</h4>
              <p>Rethinking the academic journal article.</p>
              <a href="http://centerforopenscience.github.io/osc/2013/12/11/chasing-paper/">MORE</a>
          </div>
      </div>
      <div class="col-lg-4">
            <h3 class="text-center">Project</h3>
            <div class="circle">
                <h4>The Little R'er</h4>
                <p>A question-based introduction to R.</p>
                    <a href="http://little-r.github.io/">MORE</a>
            </div>
        </div>
      <div class="col-lg-4">
          <h3 class="text-center">Talk</h3>
          <div class="circle">
              <h4>Free Culture</h4>
              <h5>in an Expensive World</h4>
              <p>keynote, Open Source Bridge, 2016</p>
              <a href="http://opensourcebridge.org/sessions/1736">MORE</a>
          </div>
      </div>
  </div>

  </div>
 </section>

  <!-- Fuzzy! -->
  <section id="fuzzy">
   <div class="container">
    <div class="row">
     <div class="col-lg-10 col-lg-offset-1">
      <p>Last year, I asked some of my colleagues to collaborate on an
        <a href="projects/open-source-recommendation-letter.html">open recommendation letter</a>
        for a fellowship application.  I've excerpted my favorite part:</p>
        <p class="quote">"Shauna gets things done, from running events to building useful technology and sharing knowledge, and always empowers others in the process. She is a shining example of the potential of empathy + technology + open communities to change the world."</p>
       </div>
      </div>

    </div>

   </section>

${base.footer()}
