<%namespace name="base" file="base.html"/>
${base.header()}

<header>
    <div class="small container">
        <div class="row">
            <div class="col-lg-12">
                <span class="header-text">Publications</span>
            </div>
        </div>
    </div>
</header>


<section class="leaf-page" id="talks">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">

            <h3>Articles & Essays </h3>
            <ul>
                <li><a href="http://costoffreedom.cc/">"Free culture in an expensive world"</a>,
                Cost of Freedom</li>
                <li><a href="http://www.in-mind.org/blog/post/when-science-selects-for-fraud-0">
                    "When science selects for fraud"</a>, The Inquisitive Mind</li>
            </ul>

            <h3>Guest Posts</h3>
            <ul>
                <li><a href="https://opensource.com/health/14/7/doctors-unite-increase-access-quality-health-information">
                    "Doctors unite to increase access to quality health information"</a>, Opensource.com</li>
                <li><a href="https://opensource.com/life/14/2/newcomer-frequently-asked-questions">
                    "Things newcomers to open source rarely ask but often wonder"</a>, Opensource.com</li>
                <li><a href="http://centerforopenscience.github.io/osc/2014/04/23/memo-from-the-office-of-open-science/">
                    "Memo from the office of open science"</a>, Open Science Collaboration Blog</li>
                <li><a href="http://centerforopenscience.github.io/osc/2014/01/08/hard-science/">
                    "When open science is hard science"</a>, Open Science Collaboration Blog</li>
                <li><a href="http://centerforopenscience.github.io/osc/2013/12/11/chasing-paper/">
                    "Chasing paper"</a>, Open Science Collaboration Blog</li>
            </ul>

            <h3>Academic</h3>

            <ul>
              <li> Silberzahn, R., Uhlmann, E. L., Martin, D. P., Bahnik,
                  von Hardenberg, A., Logan, J. A. R., Madan, C. R., et al. (2014).
                  <b>Crowdstorming research: Many analysts, one dataset.</b>
                  Retrieved from Open Science Framework, osf.io/gvm2z (In prep)</li>
              <li>Cushman, F., Murray, D., Gordon-McKeon, S., Wharton, S., & Greene, J. D. (2012).
                  <b>Judgment before principle: engagement of the frontoparietal control network
                  in condemning harms of omission</b>. Social Cognitive and Affective Neuroscience, 7(8),
              <li>Cushman, F., Gordon-McKeon, S., Murray, D., Wharton, S., Greene, J. (2010) <b>When it's
                  wrong not to act: How the brain processes harmful omissions.</b> Poster presented at Cognitive
                  Neuroscience Society's annual meeting.</li>
              <li>Ursu, S., Kring, A.M., Gordon-McKeon, S., Minzenberg, M., Yoon, J.H., Ragland, J.D.,
                  Solomon, M., Carter, C.S. (2008) <b>The neural substrates of emotional processing in schizophrenia:
                  an event-related fMRI study.</b> Poster presented at Biological Psychiatry's annual meeting.
              <li>Gordon-McKeon, S., Isserman, N. & Gill, C. (2008) <b>Influences of testosterone, aggression
                  and anger on Ultimatum Game behavior.</b> Poster presented at Cognitive Neuroscience Society's
                  annual meeting.</li>
            </ul>

            </div>
        </div>
    </div>
</section>



${base.footer()}
