<%namespace name="base" file="base.html"/>
${base.header()}

    <header>
        <div class="small container">
            <div class="row">
                <div class="col-lg-12">
                    <span class="header-text">Talks</span>
                </div>
            </div>
        </div>
    </header>


    <section class="leaf-page" id="talks">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">

                    <!-- <h3>Upcoming</h3> -->

                    <!-- <ul> -->
                    <!-- </ul> -->

                    <h3>Conference</h3>

                    <ul>
                        <li><a href="https://libreplanet.org/2017/">Move Fast and Break Democracy</a>, LibrePlanet, 2017 (<a href="https://media.libreplanet.org/u/libreplanet/m/move-fast-and-break-democracy/">video</a>, <a href="http://shaunagm.github.io/personal/libreplanet2017.html#/">slides</a>)
                        <li><a href="http://opensourcebridge.org/sessions/1736">Free Culture in an Expensive World</a>, keynote, Open Source Bridge, 2016 (<a href="http://shaunagm.github.io/personal/osb2016.html#/">slides</a>)</li>
                        <li><a href="https://media.libreplanet.org/u/libreplanet/m/artificial-scarcity-beyond-the-digital/">Artificial Scarcity: Beyond the Digital</a>, LibrePlanet, 2016 (<a href="http://shaunagm.github.io/personal/libreplanet2016.html#/">slides</a>, <a href="https://media.libreplanet.org/u/libreplanet/m/artificial-scarcity-beyond-the-digital/">video</a>)
                        <li><a href="http://seagl.org/news/2015/06/14/Keynotes.html">Beneath the Code, the Heart</a>, keynote, SeaGL, October 2015 (<a href="http://shaunagm.github.io/personal/seagl2015.html#/">slides</a>)</li>
                        <li><a href="http://sacnas.confex.com/sacnas/2015/webprogram/Session3777.html">Open Science: Practicing and Publishing in a Modern Research Career</a>, SACNAS National Conference, October 2015</li>
                        <li><a href="http://opensourcebridge.org/sessions/1540">Catalyzing Diversity</a>, panel, Open Source Bridge, June 2015</li>
                        <li><a href="https://us.pycon.org/2015/schedule/presentation/346/">Open Source for Newcomers and the People Who Want to Welcome Them</a>, PyCon, April 2015 (<a href="http://pyvideo.org/video/3405/open-source-for-newcomers-and-the-people-who-want">video</a>, <a href="http://shaunagm.github.io/personal/pycon2015.html#/">slides</a>)</li>
                        <li><a href="https://libreplanet.org/2015/program/speakers.html#gordon-mckeon">Growing Your Free Software Project</a>, LibrePlanet, March 2015</li>
                        <li><a href='http://tapiaconference.org/schedule/thursday-february-19-2015/1030am-1200pm/opportunities-in-open-source/'>Opportunities in Open Source</a>, panel, Richard Tapia Celebration of Diversity in Computing, February 2015</li>
                        <li><a href='http://gracehopper.org/2014-schedule/?subject=show_details&_year=2014&sid=2036#2036'>How to Contribute to Open Source</a>, The Grace Hopper Celebration of Women in Computing, October 2014 (<a href="http://shaunagm.github.io/personal/ghc2014.html#/">slides</a>)</li>
                        <li><a href="http://www.alterconf.com/speakers/shauna-gordon-mckeon">Talking the Talk</a>, AlterConf, September 2014 (<a href="http://www.alterconf.com/speakers/shauna-gordon-mckeon">video</a>, <a href="http://shaunagm.github.io/personal/alterconf2014.html">slides</a>)</li>
                        <li><a href="http://opensourcebridge.org/sessions/1313">Deconstructing Open Source Contributions</a>, Open Source Bridge, June 2014</li>
                        <li><a href='https://libreplanet.org/2014/'>Free Software and Open Science</a>, panel, LibrePlanet, March 2014</li>
                        <li><a href='https://www.socallinuxexpo.org/scale12x/'>Teaching Open Source</a>, SCaLE, February 2014</li>
                    </ul>

                    <h3>Workshops & Webinars</h3>

                    <ul>
                        <li>Introduction to Sprinting (PyCon 2015 & 2016)</li>
                        <li>Testing in Python (PyLadies Remote, PyLadies Boston)</li>
                        <li>Version Control with Git and Github (Open Source Comes to Campus)</li>
                        <li>Introduction to Open Science (Exploring Open Science, Mozilla Community Science Call)</i>
                    </ul>




                    <h3>Booking</h3>

                    <p> If you are interested in having me lead a workshop or speak at an event, please <a href="https://docs.google.com/forms/d/1KBE6hOiBADkqgFz5poBBWZhMvz4X1XmJG5-y84a_h0c/viewform">contact me</a>.</p>

                </div>
            </div>
        </div>
    </section>

${base.footer()}
